body {
  margin: 0%;
}

.container,
.footer {
  background-color: #1f2937;
}

.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 10vh;
  border: 2px solid white;
  display: flex;
  align-items: center;
}

.navbar .header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  padding-left: 200px;
}
.navbar .links {
  padding-left: 1000px;
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #e5e7eb;
}
